# Don't forget to remove ".example" file extension

[debug]
displayPHPErrors    = "false"
displaySTMPErrors   = "false"
displayErrorDetails = "false"
logError            = "false"
logErrorDetails     = "false"

[database]
driver    = "mysql"
host      = "localhost"
port      = "3306"
database  = "example_database"
username  = "example_user"
password  = "example_password"
charset   = "utf8mb4"
collation = "utf8mb14_unicode_ci"

[stmp]
host     = "stmp.example.com"
port     = "1234"
username = "username"
password = "password"
from     = "newsletter@example.com"

[oauth2]
client_table                      = "clients"
user_table                        = "admins"
access_token_table                = "tokens"
refresh_token_table               = "refresh_tokens"
scope_table                       = "scopes"

store_encrypted_token_string      = "true"
access_lifetime                   = "3600"
token_bearer_header_name          = "Bearer"
allow_implicit                    = "false"
allow_credentials_in_request_body = "true"
always_issue_new_refresh_token    = "false"
unset_refresh_token_after_use     = "true"
refresh_token_lifetime            = "2419200"