# Don't forget to remove ".example" file extension

[debug]
displayPHPErrors    = "false"
displaySTMPErrors   = "false"
displayErrorDetails = "false"
logError            = "false"
logErrorDetails     = "false"

[database]
driver    = "mysql"
host      = "localhost"
port      = "3306"
database  = "example_database"
username  = "example_user"
password  = "example_password"
charset   = "utf8mb4"
collation = "utf8mb14_unicode_ci"

[session]
token_lifetime = "3600"
maxUsers       = "30"

[groups]
usersPerGroup = "4"
lastGroupMod  = "LAST_MIN"